html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

footer {
  margin-top: 20px;  
  flex-wrap: wrap;
  align-items: center;
  padding: 0 1rem;
  color: #23282c;
  border-top: 1px solid #c8ced3;
  width: 100%;
  text-align: center;
  background-color: #f8f9fa;
  position: fixed;
  bottom: 0;
}

footer p {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.row {
  margin-top: 40px;
}